body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

button {
  width: 10%;
  background-color: #1e40af;
  color: #fff;
  font-size: medium;
  padding: 15px;
  border-radius: 4px;
}

button:hover {
  background-color: #2563eb;
  cursor: pointer;
}
